<%= render 'layouts/header' %>
<div class="bg">



<div id="front">
    <h1>Carbonatr</h1>

</div> 
<div class="bloodycenter">
  <%= link_to trips_path do %>
  
    <button class="front-but">Check your offset</button>
  <% end %>
</div>



  </div>

