<header class="main_header clearfix">
  <div class="container">
    <div id="logo">
      <p class="mt1"><a href="#">Carbonatr</a></p>
    </div>
    <form id="buttons" class="mt1">
      <label>Sign up/Sign in</label>
      <input type="text" class="mb0 field-light">
      <button class="button-grey hvr-fade">Go</button>
    </form>
  </div>
</header>
  

<div class="container">
  <aside class="sm-col sm-col-6 md-col-5 lg-col-4">
    <section class="content">
        <h2>Check your carbon offset</h2>

        <span class="input input--haruki">
          <input id="origin" class="input__field input__field--haruki" type="text"/>
          <label class="input__label input__label--haruki" for="origin">
            <span class="input__label-content input__label-content--haruki">Starting from</span>
          </label>
        </span>

          <span class="input input--haruki">
          <input id="destination" class="input__field input__field--haruki" type="text"/>
          <label class="input__label input__label--haruki" for="destination">
            <span class="input__label-content input__label-content--haruki">Destination</span>
          </label>
        </span>
          
          <div class="mt4">
            <input id="button-submit" class="input__label-content input__label-content--haruki hvr-fade" type="submit" value="submit">
        </div>
        </form>
        
        <input id="days-slide" type="range" min="0" max="7" step="1" value="5">
        <h3><span id="days-counter">5</span><span> Days every week</span></h3> 

        <input id="time-period-slide" type="range" min="0" max="52" step="1" value="52">
        <h3><span id="time-period-counter">52</span><span> Weeks in a year</span></h3> 


        <div id="trips-list"></div>

        <div id="outputDiv"></div>
      </section>
  </aside>
  <article class="content sm-col sm-col-6 md-col-7 lg-col-8">
    <section class="content">
      <h2>View your journey</h2>
    </section>
    <section>
      <div id="map-canvas">
      </div>
    </section>
    <section class="pull-left">
      <div class="pull-left"><h3>Your Carbon Emissions: </h3></div>
      <div class="pull-right"><h1 id="carbon-emissions"></h1></div>
    </section>
    <section class="pull-right">
      <div class="pull-left"><h3>Your Carbon Cost: </h3></div>
      <div class="pull-right"><h1 id="carbon-cost"></h1></div>
    </section>
    <hr>
    <section class="trees">
      <h3>Cost in trees</h3>
      <div class="tree"></div> 
    </section>
  </article>
</div>

<p>Fun level <span id="fun-level" style="color: green;">0 %</span>.</p>

<button id="test">test</button>

<script>
function test () {
  var percent_number_step = $.animateNumber.numberStepFactories.append(' %')
  $('#fun-level').animateNumber(
    {
      number: 100,
      color: 'red',
      'font-size': '30px',

      easing: 'easeInQuad',

      numberStep: percent_number_step
    },
    4000
  );
};
</script>


<script type="tree/template" id="tree-template">
  <%= render 'tree' %>
</script>
