<%= form_tag cars_path, method: :get, role: "search" do %>
  <p><%= text_field_tag :search, params[:search], class: "mb0 field-light" %>
    <%= submit_tag "Search", name: nil, class: "button-grey hvr-fade"%>
  </p>
<% end %>


<% if @cars %>
  <h1>uhbubugbygb</h1>
  <%= render 'result' %>
<% end %>
